/.idea/
/bitrix/backup/
/bitrix/backup
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/cache/
/bitrix/updates/
/bitrix/components/
/bitrix/templates/.default/
/bitrix/images/
/bitrix/wizards/
/bitrix/js/
/bitrix/modules/
/bitrix/site_checker_*.log
/bitrix/modules/*.log
/bitrix/tmp/
/bitrix/modules/*.dat
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/license_key.php
/upload/
/local/vendor/
/test*/
/logs/
/log/
/*.log
node_modules
*.tar.gz
/bitrix/modules/orm_annotations.php
/local/modules/informunity.asterdirect/
/.htaccess.restore
/bitrix/html_pages/