*.enc.gz
*.tar.gz
*.tar
*.tgz
*.zip
*.xml
*.log
*.log2
*.stopfile
*.xls
*.xlsx
*.doc
*.docx
*.txt
*.csv
*.svg
*.old
.idea
/.htaccess
/bitrix
/upload
/local/php_interface/constants.php
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
!bitrix/templates/kanskafisha/*
