html {
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext');
a:hover, a:focus, a:visited, a:active{text-decoration:none; outline:none;}
input:hover, input:focus, input:visited, input:active{text-decoration:none; outline:none;}
button:hover, button:focus, button:visited, button:active{text-decoration:none; outline:none;}
.fancybox-toolbar{display:none;}
.fancybox-infobar{display:none;}
html{overflow-x:hidden;}
body p{font-size:16px;}
body.compensate-for-scrollbar{overflow:auto!important;}
body.compensate-for-scrollbar{margin-right:0px;}
/* width */
body::-webkit-scrollbar {width: 9px;}
/* Track */
body::-webkit-scrollbar-track {background: #f1f1f1;}
/* Handle */
body::-webkit-scrollbar-thumb {background: #888;}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {background: #555;}
#preloader_wrapper{
    display:none;
}
body *{
    font-size:14px;
    font-family: 'Roboto Condensed', sans-serif;}

h1{font-size:35px; font-weight:bold;}
h2{font-size:32px; font-weight:bold;}
h3{font-size:28px; font-weight:bold;}
h4{font-size:23px; font-weight:bold;}

body{
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-image:url(/bitrix/templates/kanskafisha/source/images/background.jpg)}
body ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

/* BEGIN HEADER CLASS */
.header{
    padding:15px 0;
}

.logo{
    display:block;
}

.logo img{
    transition:all 750ms;
    -webkit-transition:all 750ms;
    -o-transition:all 750ms;
    -moz-transition:all 750ms;
    max-width:100%;
}

.logo:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.logo_name{
    display:block;
    margin-bottom:15px;
}

.logo_name img{
    max-width:100%;
}

.header_address_area{
    background: rgba(128,0,111,.75);
    padding:10px;
}

.header_address_area *{
    color:#fff;
    font-size:18px;
}

span.glyphicon{
    margin-left:15px;
    margin-right:5px;
    position:relative;
    top:3px;
}

.header_address_link{
    display:block;
    margin-bottom:7px;
}

.header_address_link a:hover{color:#fff;}
.header_address_link a:active{color:#fff;}
.header_address_link a:visited{color:#fff;}
.header_address_link a:focus{color:#fff;}

.box_with_shadow{
    box-shadow:3px 3px 3px #80006F;
    -webkit-box-shadow:3px 3px 3px #80006F;
    -moz-box-shadow:3px 3px 3px #80006F;
    -o-box-shadow:3px 3px 3px #80006F;
}

.advertising_agancy{
    height:150px;
    display:flex;
    align-items: center;
    color:#80006F;
    font-weight:bold;
    justify-content: center;
}

.advertising_agancy span{
    font-size:18px;
}

.advertising_agancy span{
    border-bottom:1px solid #80006f;
}

.ask_question{
    height:130px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ask_question_round{
    width:100%;
    height:50px;
    background-color:#80006f;
    color:#fff;
    font-size:18px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    position:relative;
}

.ask_question_round:hover{
    box-shadow:1px 1px 1px #80006f;
    top:1px;
    left:1px;
}


/* BEGIN NAVIGATION BAR SETTINGS */
.navbar-inverse{
    border-radius:0px;
    border:none;
    background-color:#80006f;}

a.navigation_link{
    font-size:16px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #640357;
}

#map{
    margin-top:30px;
}

/* BEGIN: content page */
.content_main .container{
    background-color:#fff;
}

.content_main img{
    max-width:100%;
}

.for-image{
    height:235px;
    margin-top:15px;
    text-align:center;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 100%;
}
.speciality .title{
    text-align:center;
    margin:15px 0;
}
/* end content page */

/* BEGIN: COOPERTATION PAGE */
.cooperation{
    padding-left:30px;
    padding-right:30px;
}
/* end cooperation page */

/* BEGIN: FOOTER SETTINGS */
.footer a{
    color:#fff;
    font-size:14px;
}

.footer_cell{
    min-height:100px;
    display:flex;
    align-items: center;
}

.footer{
    display:flex;
    align-items: center;
}

.footer_ask_question{
    text-align:center;
    padding:15px;
    cursor:pointer;
}

.footer{
    min-height:150px;
    color:#fff;
    background-color:#80006f;
    padding:30px 0;
}

.footer_address_link a{
    display:block;
    font-size:18px;
}

.footer_ask_question{
    border:1px solid #fff;
    color:#fff;
}
/* end: footer settings */

/* BEGIN: CONTACTS PAGE SETTINGS */
.contacts_area{
    margin-bottom:15px;
    margin-top:-15px;
}

.fa:before{
    display:none;
}
/* end: contacts page settings */

.navbar-inverse .navbar-nav>li>a{
 color:#fff!important;
}