.media-02819 .img-link {
	display: inline-block;
	height: 390px;
	overflow: hidden;
}

.media-02819 .img-link h2 {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,0.5);
	padding: 25px 0;
	width: 80%;
	color: #fff;
	text-align: center;
	transition: all 750ms;
	-webkit-transition: all 750ms;
	-moz-transition: all 750ms;
	font-size: 24px;
}

.media-02819 .img-link h2:hover {
	background-color: rgba(0,0,0,0.75);
}

.media-02819 .img-link img {
    width: 100%
    height: auto;
}